body {
	color:  #efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;
	background: 
	    linear-gradient(to right, 
		    rgba(20, 30, 48, 0.75),
		    rgba(36, 59, 85, 0.45)),
	    url(../images/cover1.jpg);
	/*top, transparent #92c7b0*/

	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display:  flex;
	align-items: center;
	width: 75%;
}

/**********\
 *overview*
\**********/

.overview {
	padding: 3rem;
}

.fullname {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr {
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00bcd4;
	margin:  1.5rem 0;
}

.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

/**********\
 *Projects*
\**********/

.works {
 margin-top: 1.5rem;
 margin-bottom: 3rem;
}

.works h2 {
	font-weight: 300;
	margin-bottom: 1rem;
	letter-spacing: 3px;
}

.works img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.social-media a {
	color:  #efefef;
	margin:  0.5rem;
	font-size: 1.5rem;
	opacity: .75;
	transition: all .2s;
}

.social-media a:hover {
	opacity: 1;
}

.social-media .facebook:hover {
	color: #4267b2;
}

.social-media .gitlab:hover {
	color: #fc6d27;
}

.social-media .instagram:hover {
	color: #dd2a7b;
}

.ad {
	margin: .5rem;
	font-size: 1rem;
}

/****************\
 *Image Container*
\****************/

.image-container {
	width: 80%;
	padding: 3rem;
}

.image-container img {
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: auto;
	display: block;

	box-shadow: 0rem .5rem 4rem #000000;
}

/*************\
 *media query*
\*************/

@media (max-width: 980px) {

	.container {
		flex-direction: column;
	}

	.image-container {
		width: 100%;
		padding: 3rem 0 0;
	}

	.overview {
		order: 1;
		padding: 3rem 0;
	}

	main {
		background: 
	        linear-gradient(to left, 
	            rgba(22, 34, 42, 0.75),
		        rgba(58, 96, 115, 0.45)
		        ),
	        url(../images/cover2.jpg);
	    background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
	}

	.fullname,
	.job-title {
		text-align: center;
	}

	.job-title {
		font-weight: bolder;
	}

	.description {
		text-align: center;
	}

	hr {
		margin: auto;
	}

	.social-media {
		text-align: center;
		margin-top: 3rem;
	}

	.ad {
		text-align: center;
	}

	.works {
		text-align: center;
	}

	.image-container img {
		width: 200px;
		height: 200px;
	}
}

